body {
 background: #000000
}

.title {
 text-align: center;
 margin-top: 10px;
}

.menu {
 text-align: center;
 color: #000000;
}

.main {
 margin: 10px;
}

.login-page {
 width: 360px;
 padding: 10% 0 0;
 margin: auto;
}

.form {
 position: relative;
 z-index: 1;
 background: #e1e9f7;
 max-width: 360px;
 margin: 0 auto 100px;
 padding: 45px;
 text-align: center;
}

input {
 margin: 5px;
}
