.title {
 text-align: center;
 margin-top: 10px;
}

.menu {
 text-align: center;
 color: #000000;
}

.main {
 margin: 10px;
}

.login-page {
 background-position: center;
 width: 360px;
 padding: 10% 0 0;
 margin: auto;
}
