body {
 background: #ffffff;
 font-family: "Roboto", sans-serif;
}

.title {
 text-align: center;
 margin-top: 10px;
}

.menu {
 text-align: center;
 color: #ffffff;
}

.main {
 margin: 10px;
}

.login-page {
 width: 400px;
 padding: 10% 0 0;
 margin: auto;
}

.form {
 position: relative;
 z-index: 1;
 background: #e1e9f7;
 max-width: 600px;
 margin: 0 auto 100px;
 padding: 45px;
 text-align: center;
}

input {
 margin: 5px;
}

.sign-in-button {
 margin-top: 20px;
}

input[type="password"] {
    font-family: caption;
}

::placeholder {
    font-family: "Roboto", sans-serif
}
